.placeorder {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;

    .placeorder-info {
        flex: 3 1 60rem
    }

    .placeorder-action {
        flex: 1 1 20rem;
        border: .1rem #c0c0c0 solid;
        border-radius: .5rem;
        background: #fcfcfc;
        padding: 1rem;
    }
}