#root {
    --background: rgb(40, 75, 131);
    --color: rgb(243, 243, 243);
    --disabled: #e4eaf0;
    --dark-color: rgb(51, 51, 51);
    --button-disabled: #d6dbe4;
    --error: rgb(194, 28, 16);
}

.shipping-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .form-container {
        min-width: 350px;
        max-width: 355px;
        min-height: 200px;
        padding: .5rem;
        // background: var(--color);
        color: var(--background);
        text-align: center;
        box-shadow: 5px 5px 20px #cbced1, -5px -5px 20px #ffffff;

        .form-error {
            color: var(--error);
            font-size: 1rem;
        }

        .header {
            padding: 5px;
            margin-bottom: 2rem;

            .header-text {
                margin: 0;
                font-size: 1.5rem;
            }
        }

        .inputs-container {
            // display: flex;
// flex-direction: row;
// justify-content: flex-start;
            // background: var(--button-disabled);

            .input {
                font-size: 1.5rem;
                margin: 0 .5rem;
                font-weight: bold;
                color: var(--dark-color);
            }
        }

        .button-container {
            margin-top: 1.5rem;
            height: 35px;
            width: 60%;
            display: flex;
            padding-left: 1.5rem;
            flex-direction: row;

            .button {
                height: 100%;
                width: 80%;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                background: var(--background);
                margin: 10px 0;
                border-radius: 5px;
                transform: translateZ(0);
                transition: transform 0.25s ease-in-out;
                color: var(--main-brand-color);
                border: none;
                outline: none;
                border-radius: 2px;
                cursor: pointer;


            }

            .button:disabled {
                background: var(--button-disabled);

            }

            .button:hover {
                transform: scale(1.05);
            }




        }

        .account-choice {
            margin-top: 2rem;
            width: 100%;
            color: var(--dark-color);
            text-align: center;

            p {

                font-size: 1.2rem;

                a {
                    color: var(--background);
                    font-weight: bold;
                }
            }

        }
    }
}